<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.mapper.OrderMapper">
	<resultMap id="OrderMap" type="Order">
		<id property="orderId" column="order_id" javaType="long" jdbcType="BIGINT" />
		<result property="orderNo" column="order_no" javaType="long" jdbcType="BIGINT" />
		<result property="userId" column="user_id" javaType="long" jdbcType="BIGINT" />
		<result property="tradeNo" column="trade_no" javaType="long" jdbcType="BIGINT" />
		<result property="orderType" column="order_type" />
		<result property="status" column="order_status" />
		<result property="shippingMethod" column="shipping_method" />
		<result property="channel" column="order_channel" />
		<result property="totalAmount" column="total_amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
		<result property="freight" column="freight" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
		<result property="activityAmount" column="activity_amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
		<result property="couponAmount" column="coupon_amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
		<result property="paymentAmount" column="payment_amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
		<result property="paymentTime" column="payment_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" />
		<result property="deliveryTime" column="delivery_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" />
		<result property="receiveTime" column="receive_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" />
		<result property="deleted" column="deleted" javaType="boolean" jdbcType="TINYINT" />
		<result property="createTime" column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" />
		<result property="updateTime" column="update_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		`order_id`,`order_no`,`user_id`,`trade_no`,`order_type`,`order_status`,`shipping_method`,`order_channel`,
		`total_amount`,`freight`, `activity_amount`,`coupon_amount`,`payment_amount`,
		`payment_time`,`delivery_time`,`receive_time`,`deleted`,`create_time`,`update_time`
	</sql>

	<!-- 根据购物车ID查询购物车信息 -->
	<select id="findOrderById" parameterType="long" resultMap="OrderMap">
		SELECT
		<include refid="Base_Column_List" />
	  	FROM cloud_order
		WHERE `order_id` = #{orderId} AND `deleted` = 0
	</select>

	<!-- 根据购物车ID查询购物车信息 -->
	<select id="findOrderByNo" parameterType="long" resultMap="OrderMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM cloud_order
		WHERE `order_no` = #{orderNo} AND `deleted` = 0
	</select>

	<!-- 根据顾客id查询订单 -->
	<select id="findOrderListByUserId" parameterType="long" resultMap="OrderMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM cloud_order
		WHERE `user_id` = #{userId} AND `deleted` = 0
	</select>

	<select id="findUserOrderListByTime" parameterType="map" resultMap="OrderMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM cloud_order
		WHERE `deleted` = 0 AND `user_id` = #{userId} AND DATE_FORMAT(`create_time`,'%Y-%m-%d %H:%i:%s') BETWEEN #{startTime} AND #{endTime} ;
	</select>

	<select id="findOrderListByTime" parameterType="map" resultMap="OrderMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM cloud_order
		WHERE `deleted` = 0 AND DATE_FORMAT(`create_time`,'%Y-%m-%d %H:%i:%s') BETWEEN #{startTime} AND #{endTime} ;
	</select>

	<!-- 保存订单 -->
	<insert id="save" parameterType="Order">
		INSERT INTO cloud_order (<include refid="Base_Column_List" />)
		VALUES
		(
			#{orderId},
			#{orderNo},
			#{userId},
			#{tradeNo},
			#{orderType},
			#{status},
			#{shippingMethod},
			#{channel},
			#{totalAmount},
			#{freight},
			#{activityAmount},
			#{couponAmount},
			#{paymentAmount},
			#{paymentTime},
			#{deliveryTime},
			#{receiveTime},
			#{deleted},
			#{createTime},
			#{updateTime}
		)
	</insert>

	<!-- 批量保存购物车项信息 -->
	<insert id="saveList" parameterType="java.util.ArrayList">
		INSERT INTO cloud_order (<include refid="Base_Column_List" />)
		VALUES
			<foreach collection="list" item="element" separator=",">
				(
					#{element.orderId},
					#{element.orderNo},
					#{element.userId},
					#{element.tradeNo},
					#{element.orderType},
					#{element.status},
					#{element.shippingMethod},
					#{element.channel},
					#{element.totalAmount},
					#{element.freight},
					#{element.activityAmount},
					#{element.couponAmount},
					#{element.paymentAmount},
					#{element.paymentTime},
					#{element.deliveryTime},
					#{element.receiveTime},
					#{element.deleted},
					#{element.createTime},
					#{element.updateTime}
				)
			</foreach>
	</insert>

	<!-- 更新订单 -->
	<update id="update" parameterType="Order">
		UPDATE cloud_order
		<set>
			<if test="orderId != null">`order_id` = #{orderId},</if>
			<if test="orderNo != null">`order_no` = #{orderNo},</if>
			<if test="userId != null">`user_id` = #{userId},</if>
			<if test="tradeNo != null">`trade_no` = #{tradeNo},</if>
			<if test="orderType != null">`order_type` = #{orderType},</if>
			<if test="status != null">`order_status` = #{status},</if>
			<if test="shippingMethod != null">`shipping_method` = #{shippingMethod},</if>
			<if test="channel != null">`order_channel` = #{channel},</if>
			<if test="totalAmount != null">`total_amount` = #{totalAmount},</if>
			<if test="freight != null">`freight` = #{freight},</if>
			<if test="activityAmount != null">`activity_amount` = #{activityAmount},</if>
			<if test="couponAmount != null">`coupon_amount` = #{couponAmount},</if>
			<if test="paymentAmount != null">`payment_amount` = #{paymentAmount},</if>
			<if test="paymentTime != null">`payment_time` = #{paymentTime},</if>
			<if test="deliveryTime != null">`delivery_time` = #{deliveryTime},</if>
			<if test="receiveTime != null">`receive_time` = #{receiveTime},</if>
			<if test="deleted != null">`deleted` = #{deleted},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		WHERE `order_id` = #{orderId}
	</update>

	<!-- 逻辑删除指定的购物车项 -->
	<delete id="delete" parameterType="long">
		UPDATE cloud_order SET `deleted` = 1 WHERE `order_id` = #{orderId} AND `deleted` = 0
	</delete>
</mapper>